<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.whatsapp.sticker.READ" />

    <application
        android:allowBackup="false"
        android:label="Friend Reactions"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".StickerContentProvider"
            android:authorities="it.nexus.friendstickers.stickercontentprovider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>
</manifest>
